<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Article - {{article.title}}</h1>

<a href="/">Назад к статьям</a>
<h2>Text: </h2>


<div style="width: 50%; margin: auto; font-size: 18px;">
    {{article.text}}
</div>
<p>
    <b>Price : </b> {{ article.price }}$
</p>
<p>
    <b>Date :</b> {{article.create_at}}
</p>
</body>
</html>