{% extends 'index.html' %}

{% block content %}
<div>
    <h1>Examples!</h1>
</div>
<p>
    {% if one == 2 %}
<h2 style="color: red"> == 2 </h2>
{% elif one == 4 %}
<h2 style="color: greenyellow"> == 4 </h2>
{% else %}
<h2 style="color: blueviolet"> != 2 </h2>
{% endif %}

<form action="." method="get">

    text <input name="user_text" type="text" placeholder="Type a text .... " value="some default string">
    password <input name="user_password" type="password" placeholder="Type a password .... ">
    <br>
    <hr>
    search <input name="search" type="search">
    checkbox <input name="check1" type="checkbox" checked>
    checkbox1 <input name="check2" type="checkbox" checked>
    checkbox2 <input name="check2" type="checkbox" checked>
    checkbox3 <input name="check3" type="checkbox" checked>
    <br>
    <hr>
    range <input name="range" type="range" min="0" max="100" step="25">
    <hr>
    car <input type="radio" name="transport" value="car">
    metro <input type="radio" name="transport" checked value="metro">
    airplane <input type="radio" name="transport" value="airplane">
    bike <input type="radio" name="transport" value="bike">

    <select name="select" id="">
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
        <option value="option4">option4</option>
        <option value="option5">option5</option>
    </select>

    <input type="submit">
    <input type="reset">
</form>

</p>


<form action="." method="POST">
    {% csrf_token %}
    <input type="number" name="first">
    <select name="operation" id="">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" name="second">
    <button>=</button>
    <span>{{ result }}</span>
</form>


<h1>Article FORM!</h1>

<form method="post" action="/add-article/">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
    <button>Save article!</button>
</form>
{% endblock %}


{% block x %}

<h1>Block X!!!!!</h1>
{% endblock x %}