{% extends 'index.html' %}

{% block content %}
<style>
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .article-item {
        width: 32%;
        border: 1px solid black;
        margin-bottom: 24px;
    }
</style>

<div class="row">
    {% for article in articles %}
    <div class="article-item">
        <p>{{ article.id }}</p>
        <p>{{ article.title }}</p>
        {% if article.price < 200 %}
        <p style="background-color: green; color: white;">{{ article.price }} $</p>
        {% else %}
        <p style="background-color: darkred; color: white;">{{ article.price }} $</p>

        {% endif %}

        <p>{{ article.create_at }}</p>
        <a href="/article-detail/{{article.id}}"> Читать полностью </a>
    </div>
    {% endfor %}
</div>
{% endblock %}