{%extends 'index.html' %}

{% block content %}
<h1>Author detail page!</h1>

<h2>Name - {{ author.name }}</h2>
<h2>Surname - {{ author.surname }}</h2>
<h3>все книги данного автора ( {{ author.get_books | length }} ) </h3>
{% for book in author.get_books %}
<p>{{ book.title }}</p>
{% if book.is_sale %}
<span style="text-decoration: line-through; font-size: 12px; color: red;">старая цена - {{ book.price }} $</span>
<span style="font-size: 24px; color: green;">новая  цена - {{ book.new_price }} $</span>
<p>Вы экономите {{book.calc_economy.money}} $ / {{ book.calc_economy.percent }}%</p>

{% else %}
<p>{{ book.price }} $</p>
{% endif %}
<hr>
{% endfor %}

<a href="">Купить все книги автора({{ author.get_books | length }}) - {{ author.get_total_price.total_price }} $ </a>
<h2>Вы экономите {{ author.get_total_price.sale_price }} $</h2>

{% endblock %}