{%extends 'index.html' %}

{% block content %}
<h1>Book detail page!</h1>
<h2 style="text-align: center">{{book.title}}</h2>
<p>{{book.desc}}</p>
<p>{{ book.price }} $</p>
<p>Автор - <a href="/books/author/{{book.author.id}}/">{{ book.author.get_full_name }}</a></p>
<a href="#">Добавить в корзину</a>
<a href="#">Купить</a>

{% endblock %}