{% extends 'index.html' %}


{% block content %}
<h1>Все книги от авторов</h1>

{% for book in all_books %}
<div>
    <p>#{{forloop.counter}}</p>
    <p>
        <a href="{% url 'books:book_detail' book.id %}">{{ book.title }}</a>
    </p>
    <p> {{ book.price }}$ </p>
    <p>Автор - {{ book.author.get_full_name }}</p>
</div>
<hr>
{% endfor %}
{% endblock %}
