{% extends 'users/cabinet/main.html' %}

{% block cabinet %}
<h1>All books!</h1>
<a href="{% url 'users:write_book' %}" class="btn btn-link">Выдать книгу</a>


<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">title</th>
        <th scope="col">lead</th>
        <th scope="col">genre</th>
        <th scope="col">rate</th>
        <th scope="col">price , грн</th>
    </tr>
    </thead>
    <tbody>
    {% for book in all_books %}
    <tr>
        <th scope="row">{{ book.id }}</th>
        <td>{{ book.title}}</td>
        <td>{{book.lead}}</td>
        <td>{{book.get_genre_display}}</td>
        <td>{{book.rate}}</td>
        <td>{{book.price}}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}