{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Добро пожаловать {{request.user}} !</h1>

<div class="row">
    <div class="col-md-3">
        <nav class="nav flex-column">
            <a class="nav-link {% if cabinet_tab == 'main' %} btn btn-success {% endif %}" href="{% url 'users:cabinet' %}">Личная информация</a>
            <a class="nav-link {% if cabinet_tab == 'all_books' %} btn btn-success {% endif %}" href="{% url 'users:all_books' %}">Все книги</a>
            <a class="nav-link {% if cabinet_tab == 'create_book' %} btn btn-success {% endif %}"  href="{% url 'users:write_book' %}">Выдать книгу</a>
            <a class="nav-link {% if cabinet_tab == 'my_order' %} btn btn-success {% endif %}" href="{% url 'users:my_order' %}">Заказы</a>
        </nav>
    </div>
    <div class="col-md-9">
        {% block cabinet %}
            {% if saved  == 1%}
            <p class="alert alert-success">Данные успешно сохранены</p>
            {% elif  saved == 2 %}
            <p class="alert alert-danger">Пожалуйста исправьте ошибки</p>
            {% endif %}
            <form action="{% url 'users:cabinet' %}" method="post">
                {% csrf_token %}
                {% for f in form %}

                {{f | as_crispy_field}}
                {% endfor %}
                <button class="btn btn-success">Save</button>
            </form>
        {% endblock %}
    </div>
</div>

{% endblock %}


