{% extends 'users/cabinet/main.html' %}
{% block cabinet %}

<h1>все заказы на ваши книги</h1>

{% for order in list_orders %}
<p>{{ order.order }}</p>
<ul>
    {% for book_order in order.books %}
    <li>{{book_order.title}} : <b>{{ book_order.price }} грн </b></li>
    {% endfor %}
</ul>
{% endfor %}
<div class="row">
    <div class="col-md-6">
        <p class="alert alert-success">
            Всего вы заработали (с учетом комиссии платформы) <b>{{ clean_price }}</b> грн
        </p>
    </div>
    <div class="col-md-6">
        <p class="alert alert-warning">
            Комиссия платформы <b>{{ commision }}</b> грн
        </p>
    </div>
</div>
{% endblock %}