{% extends 'users/cabinet/main.html' %}

{% load crispy_forms_tags %}

{% block cabinet %}
<h1>Book create!</h1>
<form action="{% url 'users:write_book' %}" method="post">
    {% csrf_token %}
    {% for f in form %}
    {{f | as_crispy_field}}
    {% endfor %}
    <button class="btn btn-success">Сохранить</button>
</form>
{% endblock %}