{% extends 'index.html' %}

{% block content %}
<h1>Войти на сайт</h1>

{% if error %}
<p class="alert alert-danger">{{ error }}</p>
{% endif %}
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}