{% extends 'index.html' %}

{% block content %}
<h1>Регистрация</h1>
<form action="{% url 'users:register' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        <label for="">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        {% for er in field.errors %}
            <p class="alert alert-danger"> {{er}} </p>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-success">Регистрация</button>
</form>
{% endblock content %}