<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/examples">Examples</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:books' %}">Купить книгу</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'books:main' %}">все книги</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        {% if request.user.is_authenticated %}
        <a href="{% url 'users:logout' %}" class="btn btn-danger">выйти ({{ request.user.username }})</a>

        {% else %}
        <a class="btn btn-primary" href="{% url 'users:register' %}">Регистрация</a>
        <a class="btn btn-success" href="{% url 'users:login' %}">Вход</a>
        {% endif %}
        <a href="{% url 'users:cabinet' %}" class="btn btn-info">Зайти в кабинет</a>
        <a href="{% url 'users:bucket' %}" class="btn btn-warning">корзина({{ request.session.books_bucket | length }})</a>
        <form action="{% url 'users:search' %}" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="email" placeholder="Get order by email" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>