{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>approve_order</h1>
<div class="row">
    <div class="col-md-5">
        {% for book in all_books %}
        <div>
            <b>{{book.title}}</b>
            <b>{{book.author.get_name}}</b>
            <b>{{book.price}} грн</b>
        </div>
        {% endfor %}
        <div style="height: 2px; width: 100%; background: black"></div>
        <h3>общая сумма покупки : {{ total_price }} грн</h3>
    </div>

    <div class="col-md-7">
        Вот тут будет форма
        <form action="{% url 'users:approve_order' %}" method="post">
            {% csrf_token %}
            {% for f in form %}
            {{f | as_crispy_field}}
            {% endfor %}
            <button class="btn btn-primary">Потвердить</button>
        </form>
    </div>
</div>
{{all_books}}
{% endblock content %}