{% extends 'index.html' %}

{% block content %}
<h1>книги</h1>

{% for book in all_books %}
<h2>{{book.title}}</h2>
{% if  book.author %}
<p>Автор - {{ book.author.get_name }}</p>
{% else %}
<p>Автор - аноним</p>
{% endif %}
<p>Цена - {{ book.price }} грн / <span class="js-convert" data-id="{{book.id}}" data-grn="{{book.price}}">  </span>
    <img class="spinner-{{book.id}}" width="150"
         src="https://thumbs.gfycat.com/PotableEmbarrassedFrenchbulldog-small.gif" alt="">
</p>
<a href="{% url 'users:add_to_session' book_id=book.id%}" class="btn btn-primary">Добавить в корзину</a>
{% endfor %}
<br>
<input type="number" id="first_number" value="23"> + <input type="number" id="second_number">
<button id="calc">=</button> <span id="output"></span>

{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    // alert('TEST!');
    // confirm('some question?')
    /*
    var name_var_int = 45;
    var name_var_float = 4.6;
    var name_var_str = 'some string!';
    var name_var_list = [1, 2, 3, 4, 5, 'some value', true, false];
    var name_var_dict = {
        'key': 'value',
        'list': [12, 3, 4, 5, 5],
        'some_dict': {
            'a': 1,
            'b': 2,
        }
    };

     */
    // console.log(name_var_int, name_var_float, name_var_str, name_var_list, name_var_dict);
    // var val = prompt('Input some value >>>');
    // console.log(val);

    function name_function(a) {
        if (a == '5') {
            alert('5!!!!!')
        } else if (a == '6') {
            alert('6!!!!!!')
        } else {
            alert('not 5 or 6 !!!!!!')
        }
    }


    var btn = document.getElementById('calc');
    var output = document.getElementById('output');
    btn.addEventListener('click', function () {
        var first_val = document.getElementById('first_number').value;
        var second_val = document.getElementById('second_number').value;
        // alert('click!');
        console.log(first_val);
        console.log(second_val);
        var result = parseInt(first_val) + parseInt(second_val);
        output.innerHTML = result;
    })

    var dollar_buy = 0;
    $.ajax({
        method: 'GET',
        url: 'https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5'
    }).done(function (response) {
        dollar_buy = parseFloat(response[0].buy);
        setTimeout(function () {
            $('.js-convert').map(function (index, elem) {
                var origin_cost = parseFloat($(elem).data('grn'));
                var result_buy_dollar = origin_cost / dollar_buy;
                elem.innerHTML = result_buy_dollar.toFixed(2) + '$';
                $('.spinner-' + $(elem).data('id')).hide();
            })
        }, 2000)

    }).fail(function (errors) {
        console.log(errors);
    })


</script>

{% endblock js %}