{% extends 'index.html' %}

{% block content %}
<h1>корзина {{ books |length }}</h1>
<h1>this is code contains in amazun/order branch!</h1>
{% for elem in books %}
    <div>
        <p>{{ elem.title }}</p>
        <p>{{ elem.price }}  грн</p>
        <a href="{% url 'users:delete_from_bucket' elem.id %}" class="btn btn-danger">удалить</a>
    </div>
{% endfor %}
<h2>Общая сумма покупки : {{ sum }} грн</h2>
<a class="btn btn-primary" href="{% url 'users:approve_order' %}"> Потвердить заказ </a>
{% endblock content %}