{% extends 'index.html' %}

{% block content %}

<h1>Все заказы ({{all_orders | length}}) на "{{ email }}" email</h1>

{% for order in all_orders %}
<div>
    <p>price - {{ order.total_price }} грн</p>
    <h4>Books</h4>
    <ul>
        {% for book in order.books.all %}
            <li>{{ book.title }} , {{book.price}}</li>
        {% endfor %}
    </ul>

</div>
{% endfor %}

{% endblock content %}